<!DOCTYPE html>
<html lang='ja'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width,initial-scale=1'>
  <link rel='stylesheet' href='<%= uri('/styles/normalize.css') %>'>
  <link rel='stylesheet' href='<%= uri('/styles/style.css') %>'>
  <title>Can you read?</title>
</head>
<body>
  <%= yield %>
</body>
</html>
